<div class="container">
  <div class="text-center mb-4">
    <h1 class="display-4">New Task</h1>
  </div>

<%= render 'form', locals: @project %>
<%# # <%= link_to "Add a Task", edit_project_task_path(@project), class: "btn btn-primary"  %>
