<!-- app/views/projects/index.html.erb -->

<h1 class="mt-4">Projects</h1>

<ul class="list-group">
  <% @projects.each do |project| %>
    <% if current_user.role == 'manager' %>
      <li class="list-group-item">
        <%= link_to project.name, project, class: 'btn btn-primary' %>
      </li>
    <% else %>
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title"><%= project.name %></h3>
          <p class="card-text"><%= project.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>

<% if current_user.role == 'manager' %>
  <%= link_to "New Project", new_project_path, class: 'btn btn-success mt-4' %>
<% end %>
