<div class="container-fluid">
  <div class="row justify-content-center align-items-center vh-100 mt-4">
    <div class="col-md-8">
        <h1 class="text-center">Projects</h1>

      <ul class="list-group">
        <% @projects.each do |project| %>
            <li class="list-group-item">
              <%= link_to project.name, project, class: 'btn btn-primary' %>
            </li>
        <% end %>
      </ul>

      <% if current_user.role == 'manager' %>
        <%= link_to "New Project", new_project_path, class: 'btn btn-success mt-4 d-block mx-auto' %>
      <% end %>
    </div>
  </div>
</div>
