<h1> <%= @project.name %> </h1>
<p> <%= @project.description %> </p>

<%#  %>
<%# <ul> %>
  <%# edit %>
  <%# <li><%= link_to "Edit", edit_project_path(@project) %></li> %>
  <%# delete %>
  <%# <li><%= link_to "Destroy", project_path(@project), data: { %>
                    <%# turbo_method: :delete, %>
                    <%# turbo_confirm: "Are you sure?" %>
                  <%# } </li> %>
<%# </ul> %>

<%#  %>