<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <style>
    /* Add your CSS styling here */
  </style>
</head>
<body>
  <div class="error-container">
    <h1><%= @message %></h1>
    <p>Sorry, something went wrong.</p>
  </div>
</body>
</html>
